.hero-about {
    background-image: url('../images/about/aboutus_heroimg.jpg');
    width: 100%;
    height: 636px;
    background-repeat: no-repeat;
    background-size: cover;
}

.basic{
    color: #696969;
    font-size: 18px;
}

.about-cta-top{
    font-size: 70px;
    color: white;
    font-family: proxima-bold
}

.about-cta-bottom{
    font-size: 25px;
    color: white;
}

.about-hero-box{
    padding-top: 15%;
    padding-right: 25%;
}

.abstract-div{
    overflow-x: hidden;
}

.big-words-about{
    font-size: 140px;
    font-family: Proxima-bold;
    color: #eeeeee;
    margin-left: 40px;
    white-space: nowrap;
    overflow-x: hidden;
}

.about-bike{
    height: 66%;
    width: 100%
}

.about-warehouse{
    height: 66%;
    width: 100%;
    margin-top: 50px;
}

.about-core-values{
    height: 100%;
    width: 100%
}

.about-ladies{
    height: 62%;
    width: 100%
}

.green-history, .green-network{
    font-size: 60px;
    color: #b4cb22;
    font-family: Proxima-bold
}

.history-paragraph, .network-paragraph{
    color: #919191;
    font-size: 20px;
}

.what-we-do{
    display: flex;
}

.we-do-right{
    margin-left: 30%;
}

ul{
    list-style-type: none;
    padding: 0;
}

.we-do-green{
    color: #b4cb22;
    font-size: 18px;
    line-height: 2;
}

.about-video{
    margin-top: 100px;
    text-align: center;
}

.how-we-work{
    background-image: url('../images/about/howwework.jpg');
    background-size: cover;
    height: 408px;
    position: relative;
}

.how-box{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 10%;
    padding: 20px;
    background-color: rgba(255,255,255,0.7)
}

.about-orange-words{
    color: #ef7521;
    font-size: 60px;
    font-family: Proxima-bold;
}

.thin-orange-words{
    color: #ef7521;
    font-size: 45px;
    font-family: Proxima;
}

.where-we-work{
    background-image: url('../images/about/wherewework.jpg');
    background-size: cover;
    height: 485px;
    position: relative;
}

.where-box{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 20px;
    background-color: rgba(255,255,255,0.7)
}

.company-stores{
    margin-top: 150px;
}

.data-div{
    margin-top: 50px;
}

.source-one{
    width: 90%;
}

.source-two{
    margin-left: 50%;
    margin-top: 20px;
    width: 50%;
}

.responsible{
    padding-top: 125px;
    padding-left: 75px;
}

h4.data-titles {
    color: #696969;
    font-family: Proxima-bold;
    font-size: 24px;
}

.col-md-6.data-graphic {
    text-align: center;
    margin-top: 50px;
}

img.orders-by-state {
    width: 100%;
}

img.active-users {
    width: 85%;
}

.decision-div{
    margin-top: 50px;
}

.awards-div{
    background-image: url('../images/about/awards_bg.png');
    margin-top: 70px;
}

.awards-title{
    text-align: center;
    color: white;
    width: 560px;
    margin: auto;
    padding: 50px 0
}

.awards-top-title{
    font-family: Proxima-bold;
    font-size: 60px;
}

.awards-bottom-title{
    font-size: 24px;
}

.ribbon-paragraph{
    color: white;
    font-size: 18px;
}

.ribbon-box{
    text-align: center;
    width: 210px;
    margin: auto;
    height: 140px
}

.service-image{
    width: 100%;
}

.service-div{
    margin-top: 55px;
}

.about-images-one{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.about-images-two {
    display: flex;
    align-items: flex-start;
}

.rockstars{
    margin-bottom: 50px;
}

.rock-one, .rock-two{
    width: 42%
}

.rock-three, .rock-four{
    width: 48%;
}

.rock-two{
    padding-right: 10px;
}

.rock-three{
    padding: 0 10px;
}

.women-owned{
    margin-top: 9%
}

.orange-network{
    color: #ef7521;
    font-size: 20px;
}

.about-blue-words{
    font-size: 60px;
    color: #3babc5;
    font-family: Proxima-bold
}

.mobile-abstract, .mobile-globe{
    display: none;
}

@media(min-width: 1250px){
    .col-md-5.strange-images{
        height: 700px;
    }
}

@media(max-width:991px){
    .hero-about{
        margin-top: 0;
    }
    .big-words-about{
        font-size: 69px;
    }
    .strange-images{
        text-align: center;
    }
    .how-box{
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 78%;
    }
    .where-box{
        left: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 87%;
    }
    .company-stores {
        margin-top: 25px;
    }
    .source-two{
        margin-left: 27%;
        width: 69%
    }
    .responsible {
        padding-top: 20px;
        padding-left: 15px;
    }
    .col-md-6.data-graphic {
        margin-top: 40px;
    }
    .decision-div{
        margin-top: 10px;
        padding: 0 15px;
        margin: 0 15px;
    }
    .service-div{
        margin-top: 0;
    }
}

@media(max-width:767px){
    .about-hero-box{
        padding-right: 10px;
        padding-top: 33%;
    }
    .about-cta-top{
        font-size: 34px;
    }
    .about-cta-bottom{
        font-size: 20px
    }
    .hero-about{
        height: 375px
    }
    .abstract-div{
        text-align: center;
        margin-top: 20px
    }
    .big-words-about {
        font-size: 32px;
        margin: 0;
    }
    .about-bike, .about-warehouse{
        width: 48%
    }
    .about-warehouse{
        margin-left: 4%;
        margin-bottom: 4%;
    }
    .about-core-values{
        width: 60%
    }
    .about-ladies{
        width: 36%;
        margin-left: 4%;
        margin-bottom: 24%
    }
    .green-history, .green-network, .about-blue-words{
        font-size: 32px;
    }
    .history-box{
        margin-top: 40px
    }
    .how-we-work{
        height: 555px;
    }
    .about-orange-words{
        font-size: 32px;
    }
    .thin-orange-words{
        font-size: 24px;
    }
    .mobile-abstract{
        display: block;
    }
    .desktop-abstract{
        display: none !important;
    }
    .what-we-do{
        display: block
    }
    .we-do-right{
        margin-left: 0;
    }
    .about-video{
        margin-top: 35px;
    }
    .awards-div{
        margin-top: 50px !important;
    }
    .awards-title{
        width: 100%;
    }
    .awards-top-title{
        font-size: 36px;
    }
    .awards-bottom-title {
        font-size: 20px;
    }
    .rockstars{
        margin-bottom: 25px;
    }
    .decision-div{
        padding: 
    }
}
