.hero-about {
    background-image: url('../images/about/aboutus_heroimg.jpg');
    margin-top: -90px;
    width: 100%;
    height: 636px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-cta-top{
    font-size: 70px;
    color: white;
    font-family: proxima-bold
}

.about-cta-bottom{
    font-size: 25px;
    color: white;
}

.about-hero-box{
    padding-top: 15%;
    padding-right: 25%
}

.abstract-div{
    overflow-x: hidden;
}

.big-words-about{
    font-size: 140px;
    font-family: Proxima-bold;
    color: #eeeeee;
    margin-left: 40px;
    white-space: nowrap;
    overflow-x: hidden;
}

.about-bike{
    height: 66%;
    width: 100%
}

.about-warehouse{
    height: 66%;
    width: 100%;
    margin-top: 50px;
}

.about-core-values{
    height: 100%;
    width: 100%
}

.about-ladies{
    height: 62%;
    width: 100%
}

.green-history, .green-network{
    font-size: 60px;
    color: #b4cb22;
    font-family: Proxima-bold
}

.history-paragraph, .network-paragraph{
    color: #919191;
    font-size: 20px;
}

.programs-orange{
    font-size: 60px;
    color: #ef7521;
    font-family: Proxima-bold
}

.programs-paragraph{
    color: #919191;
    font-size: 20px;
    width: 90%;
}

.about-corona{
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.about-music{
    margin-left: 25%
}

.customized-programs{
    margin-top: 100px;
}

.about-program-links{
    color: #ef7521;
    font-size: 24px;
    margin: 5px 0;
}

.about-program-links:hover{
    cursor: pointer;
    color: #ce5400;
}

.awards-div{
    background-image: url('../images/about/awards_bg.png');
    margin-top: 100px;
}

.awards-title{
    text-align: center;
    color: white;
    width: 560px;
    margin: auto;
    padding: 50px 0
}

.awards-top-title{
    font-family: Proxima-bold;
    font-size: 60px;
}

.awards-bottom-title{
    font-size: 24px;
}

.ribbon-paragraph{
    color: white;
    font-size: 18px;
}

.ribbon-box{
    text-align: center;
    width: 210px;
    margin: auto;
    height: 140px
}

.network-globe{
    text-align: right;
}

.orange-network{
    color: #ef7521;
    font-size: 20px;
}

.mobile-abstract, .mobile-globe{
    display: none;
}

@media(max-width:991px){
    .hero-about{
        margin-top: 0;
    }
    .big-words-about{
        font-size: 69px;
    }
    .strange-images{
        text-align: center;
    }
}

@media(max-width:767px){
    .about-hero-box{
        padding-right: 10px;
        padding-top: 33%;
    }
    .about-cta-top{
        font-size: 34px;
    }
    .about-cta-bottom{
        font-size: 20px
    }
    .hero-about{
        height: 375px
    }
    .abstract-div{
        text-align: center;
        margin-top: 20px
    }
    .big-words-about {
        font-size: 32px;
        margin: 0;
    }
    .about-bike, .about-warehouse{
        width: 48%
    }
    .about-warehouse{
        margin-left: 4%;
        margin-bottom: 4%;
    }
    .about-core-values{
        width: 60%
    }
    .about-ladies{
        width: 36%;
        margin-left: 4%;
        margin-bottom: 24%
    }
    .green-history, .green-network{
        font-size: 45px;
    }
    .history-box{
        margin-top: 40px
    }
    .mobile-abstract{
        display: block;
    }
    .desktop-abstract{
        display: none !important;
    }
    .history-paragraph{
        margin-bottom: -60px;
    }
    .programs-orange{
        font-size: 45px;
    }
    .awards-div{
        margin-top: 50px !important;
    }
    .awards-title{
        width: 100%;
    }
    .awards-top-title{
        font-size: 36px;
    }
    .awards-bottom-title {
        font-size: 20px;
    }
    .network-globe{
        display: none;
    }
    .mobile-globe{
        display: block;
    }
    .mobile-globe-image{
        width: 90%;
    }
    .about-corona{
        height: 110px;
        margin-left: 15px
    }
    .about-hats{
        height: 110px
    }
    .about-music{
        margin-left: 5%;
        margin: 0
    }
    .customized-programs{
        margin-top: 30px;
    }
    #program-globe{
        margin-top: 35px;
    }
    #data-title{
        margin-top: -25px;
    }
}
