.footer-container{
    color: #7a7a7a;
    margin-top: 50px;
    margin-bottom: 50px
}

.overture {
    color: #ef7521;
    font-size: 22px;
    font-family: Proxima-bold;
}

.info {
    font-size: 22px;
    line-height: .8;
}

.infoBreak {
    font-size: 22px;
    line-height: .8;
    padding-bottom: 20px
}

.footer-right-nav{
    text-align: right;
}

.footer-link {
    color: #7a7a7a;
    font-size: 20px;
    padding-left: 25px;
    text-decoration: none;
}

.footer-link:hover {
    color: orange;
    text-decoration: none;
}

.map-paragraph{
    font-size: 16px;
    text-align: center
}


@media(max-width:991px){
    .footer-nav-links{
        display: none !important;
    }
    .footer-right-nav{
        text-align: left;
    }
    .social{
        margin-left: 0px;
        margin-right: 35px;
    }
    .map-paragraph{
        text-align: left !important;
    }
    .footer-container{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media(max-width:767px){
    
}