.footer-container{
    color: #7a7a7a;
    margin-top: 50px;
    margin-bottom: 10px
}

.overture {
    color: #ef7521;
    font-size: 22px;
    font-family: Proxima-bold;
}

.info {
    font-size: 22px;
    line-height: .8;
}

.infoBreak {
    font-size: 22px;
    line-height: .8;
    padding-bottom: 20px
}

.footer-link {
    color: #7a7a7a;
    font-size: 20px;
    padding-left: 25px;
    text-decoration: none;
}

.footer-link:hover {
    color: #ef7521 ;
    text-decoration: none;
}

.map-paragraph{
    font-size: 14px;
    text-align: center
}

.map-divy{
    text-align: center;
}

.core-row{
    background-color: #eeeeee;
    padding: 50px 0;
}

.footer-copy{
    background-color: #dbdbdb;
    text-align: center;
    padding: 10px;
}

.core-text{
    color: #636363;
}

.core-image{
    width: 80%;
    margin-top: 15px;
}

.copy-text{
    color: #636363;
    margin: 0;
}


@media(max-width:991px){
    .footer-nav-links{
        display: none !important;
    }
    .footer-right-nav{
        text-align: center;
    }
    .social{
        margin-left: 0px;
        margin-right: 35px;
    }
    .contact-col{
        text-align: center;
    }
    .core-image{
        margin-bottom: 25px;
        width: 50%;
    }
    .core-center{
        text-align: center;
    }
}

@media(max-width:767px){
    .fa.fa-facebook{
        margin-left: 0 !important;
    }
}