.hero {
    background-image: url('../images/home/home_heroimg.jpg');
    margin-top: -90px;
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}

#video-box {
    height: 90vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bg-video-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    height: 175px;
}

.cta-home {
    position: absolute;
    bottom: 10%;
    width: 100%;
    z-index: 999;
}

.home-cta-top,
.home-cta-bottom {
    color: white;
    font-size: 24px;
    line-height: 1;
    margin: 40px 0;
}

.home-cta-middle {
    color: white;
    font-size: 70px;
    font-family: Proxima-bold
}

.scroll-down {
    text-align: right;
    margin-top: -12%;
    cursor: pointer;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-words {
    font-size: 160px;
    font-family: Proxima-bold;
    color: #eeeeee
}

.green-words-box {
    margin-top: -109px
}

.small-green-words {
    font-size: 60px;
    color: #b4cb22;
    font-family: Proxima-bold
}

.small-orange-words {
    font-size: 60px;
    color: #ef7521;
    font-family: Proxima-bold
}

.home-descriptions {
    color: #919191;
    font-size: 24px
}

.uber {
    margin-top: 50px;
    margin-bottom: 15px;
    width: 100%;
}

.nbc,
.cubs {
    width: 100%;
}

.nbc-box {
    width: 80%;
    margin-left: 20%
}

.speaker {
    margin-bottom: 15px;
    height: 400px;
    width: 100%;
}

.cubs-box {
    width: 80%;
}

.words-overlay-two {
    text-align: right;
}

.big-clients {
    font-size: 160px;
    font-family: Proxima-bold;
    color: #eeeeee;
    text-align: right;
}

.small-blue-words {
    margin-top: -120px;
}

.small-blue-words {
    font-size: 60px;
    color: #3babc5;
    font-family: Proxima-bold
}

.logos-top {
    margin-bottom: 50px;
    margin-top: 50px;
}

.logos-bottom {
    margin-bottom: 50px
}

.clients-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.arrow {
    font-size: 16px;
    margin-top: 40px;
    color: #383939;
}

.big-words-video {
    font-size: 140px;
    font-family: Proxima-bold;
    color: #eeeeee;
    text-align: right;
    white-space: nowrap;
    overflow-x: hidden;
}

.small-words-video {
    font-size: 60px;
    color: #b4cb22;
    font-family: Proxima-bold
}

.video-container {
    margin-top: -109px
}

.cta-video-text {
    color: #b4cb22;
    font-family: Proxima-bold;
    font-size: 18px;
    margin-top: 10px
}

.image-grid {
    width: 100%;
    margin-top: 50px;
}

.uber,
.nbc,
.speaker,
.cubs {
    cursor: pointer;
}

.uber-open,
.nbc-open,
.speaker-open,
.cubs-open {
    width: 100%;
    height: 100%
}

.close-img {
    position: absolute;
    left: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.video-modal {
    outline: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 25%;
}

.iframe-video {
    width: 500;
    height: 281
}

.tweet{
    width: 90%;
}

.office-video-box {
    cursor: pointer;
    text-align: center;
    margin-top: 100px;
    transition: 500ms;
}

.office-video-box:hover {
    cursor: pointer;
    transform: scale(1.2)
}

.home-modals {
    position: absolute;
    top: 0%;
    left: 32%;
    outline: 0;
    transform: translateX(-23%);
    ;
}

.home-companies {
    width: 25%;
}

.icon-description {
    color: #919191;
    margin-top: 20px;
}

.col-md-2.col-sm-3.col-xs-6 {
    text-align: center;
    height: 200px;
}

.home-icon {
    width: 80%;
}

.icon-div {
    margin-top: 50px;
}

/* Mobile Stuff */

.cta-mobile {
    display: none;
    background-image: url('../images/home/blue_bg.png')
}


@media(max-width: 1110px) {
    .big-words {
        font-size: 125px;
    }
}

@media (max-width: 991px) {
    .hero {
        margin-top: 0px;
        height: 415px
    }
    #video-box {
        height: 50vh;
    }
    .hero-text {
        margin-top: 20px;
    }
    .cta-mobile {
        display: block;
    }
    .cta-home {
        display: none;
    }
    .home-cta-top {
        line-height: 1;
        padding-top: 30px
    }
    .home-cta-middle {
        line-height: 1;
        font-size: 40px;
    }
    .home-cta-bottom {
        padding-bottom: 50px;
    }
    .big-words {
        display: none;
    }
    .words-overlay {
        margin-top: 140px;
    }
    .words-overlay-two {
        margin-top: 145px;
    }
    .big-words-video {
        display: none;
    }
    .video-container {
        margin-top: 0px;
    }
    .home-companies {
        width: 50%;
        padding: 10px;
    }
    .office-video-box{
        margin-top: 50px;
    }
    .tweet {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hero {
        height: 250px;
        margin-top: 44px;
    }
    #bg-video-style {
        height: 40%;
    }
    .cta-mobile {
        clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
        margin-top: -50px;
    }
    .hero-text {
        margin-top: 50px;
    }
    .home-descriptions {
        font-size: 20px
    }
    .small-green-words {
        font-size: 32px;
        color: #ef7521;
    }
    .small-orange-words, .small-blue-words {
        font-size: 32px;
    }
    .small-clients {
        font-size: 32px
    }
    .words-overlay-two {
        text-align: left;
    }
    .logos-top {
        margin-top: 0
    }
    .small-words-video {
        font-size: 32px;
    }
    .image-grid {
        width: 160%;
    }
    .home-modals {
        top: 5%;
    }
    .home-companies {
        width: 100%
    }
}